.about {
  padding-top: 60px;
  padding-bottom: 100px;

  @include vp-1023 {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 25px;
    padding-bottom: 80px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.about__wrapper img {
  margin-right: 100px;
  max-width: 150px;
  height: 320px;
  object-fit: cover;

  @include vp-1023 {
    margin-right: 30px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__content h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
  }
}

.about__content p {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.about__full {
  display: none;
}

.about__content button {
  margin-top: 45px;

  @include vp-1023 {
    margin-top: 20px;
  }
}
