.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.btn-primary {
  display: block;
  width: 265px;
  min-height: 45px;
  padding: 15px 25px 10px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-black-pearl;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  @include vp-769 {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-black-pearl;
    outline: none;
  }

  &:active {
    background-color: $color-black-pearl-2;
    outline: none;
  }
}

.btn-second {
  display: block;
  width: 410px;
  min-height: 55px;
  padding: 15px 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  @include vp-769 {
    width: 100%;
    min-height: 40px;
    padding: 13px 30px 10px;
    font-size: 14px;
    line-height: 16px;
  }

  &:hover,
  &:focus {
    background-color: $color-black-pearl;
    outline: none;
  }

  &:active {
    background-color: $color-black-pearl-2;
    outline: none;
  }
}

.btn-third {
  width: 160px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-alice-blue;
    color: $color-black-pearl;
    outline: none;
  }
}

.btn-fourth {
  width: 180px;
  min-height: 45px;
  padding: 14px 12px 8px 12px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-deep-sky-blue;
    color: $color-alice-blue;
    outline: none;
  }

  @include vp-769 {
    width: 160px;
    min-height: 35px;
    padding: 8px 15px 12px 15px;
  }
}
