.feedback {
  padding-top: 165px;
  padding-bottom: 250px;
  background: linear-gradient(139deg, $color-cerulean 640px, $color-deep-sky-blue-2 640px);

  @include vp-1023 {
    padding-top: 45px;
    padding-bottom: 125px;
    background: $color-deep-sky-blue-2;
  }

  @include vp-769 {
    padding-bottom: 90px;
  }
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: 1fr 595px;
  column-gap: 115px;

  @include vp-1023 {
    display: flex;
    justify-content: center;
    column-gap: 0;
  }
}

.feedback__wrapper img {
  margin-top: 82px;
  object-fit: cover;

  @include vp-1023 {
    display: none;
  }
}

.feedback__content h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-white;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-769 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 9px;
  }
}

.feedback__content p {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-769 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 33px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
  margin-right: 10px;

  @include vp-1023 {
    margin-right: 0;
  }

  @include vp-769 {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    margin-bottom: -20px;
  }
}

.feedback__input {
  @include vp-769 {
    margin-bottom: 20px;
  }
}

.feedback__form .input-textarea {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 15px;

  @include vp-769 {
    margin-bottom: 30px;
  }
}

.feedback__form .feedback__button {
  margin-bottom: 20px;
}

.feedback__form .input-checkbox {
  margin-top: 13px;
  margin-left: 11px;

  @include vp-1023 {
    margin-top: 8px;
    margin-left: 0;
  }

  @include vp-769 {
    margin-top: 5px;
    margin-left: 5px;
  }
}
