.footer {
  width: 100%;
  background: $color-black-pearl;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 55px;

  @include vp-1023 {
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 65px;
  }

  @include vp-769 {
    flex-direction: column;
    align-content: flex-start;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include vp-1023 {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;
  }

  @include vp-769 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}

.footer__logo {
  width: 215px;
  height: 55px;
  margin-bottom: 35px;
  flex-shrink: 0;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-769 {
    margin-bottom: 8px;
  }
}

.footer__social {
  margin-left: 13px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 25px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @include vp-1023 {
    margin-top: 10px;
    width: 140px;
  }

  @include vp-769 {
    row-gap: 0;
    column-gap: 0;
    margin-right: -12px;
    margin-bottom: -10px;
    margin-left: -12px;
    width: 162px;
  }
}

.footer__social-item {
  list-style-type: none;

  @include vp-769 {
    margin: 0 12px 10px;
  }
}

.footer__social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $color-alice-blue;
  border-radius: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-deep-sky-blue;
    outline: none;
  }
}

.footer__menu,
.footer__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @include vp-1023 {
    width: 50%;
    flex-grow: 1;
  }

  @include vp-769 {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -25px;
      height: 1px;
      width: 100vw;
      background: $color-alice-blue-transparent-70;
    }
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;

  @include vp-769 {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 0;
  }
}

.footer__list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @include vp-1023 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.footer__item {
  margin-bottom: 10px;
  list-style-type: none;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-white-transparent-70;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-769 {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer__menu {
  margin-top: 8px;
  margin-left: auto;
  margin-right: 30px;

  @include vp-1023 {
    margin: 0;
  }
}

.footer__menu .footer__list {
  column-count: 2;
  column-gap: 30px;
  column-fill: auto;
  min-height: 155px;

  @include vp-1023 {
    width: 220px;
    height: auto;
  }

  @include vp-769 {
    width: 100%;
  }
}

.footer__menu .footer__item {
  max-width: 220px;
}

.footer__menu a {
  color: $color-white-transparent-70;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
    outline: none;
  }
}

.footer__button {
  display: none;
}

.footer__button--mobile {
  @include vp-769 {
    display: block;
    position: absolute;
    top: 20px;
    right: -5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.footer__button--mobile .footer__opened {
  @include vp-769 {
    display: none;
  }
}

.footer__button--mobile ~ .footer__list {
  @include vp-769 {
    display: none;
  }
}

.footer__button--active .footer__closed {
  @include vp-769 {
    display: none;
  }
}

.footer__button--active .footer__opened {
  @include vp-769 {
    display: block;
  }
}

.footer__button--active ~ .footer__list {
  @include vp-769 {
    display: flex;
  }
}

.footer__contacts {
  margin-top: 7px;
  width: 345px;

  @include vp-1023 {
    margin-top: 0;
    padding-left: 13px;
  }

  @include vp-769 {
    position: relative;
    padding-left: 0;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -25px;
      height: 1px;
      width: 100vw;
      background: $color-alice-blue-transparent-70;
    }
  }
}
