.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background: $black-pearl-to-bottom;

  @include vp-1023 {
    position: relative;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.header__logo {
  width: 215px;
  height: 55px;
  flex-shrink: 0;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: -12px;

  @include vp-1023 {
    margin-top: 5px;
    margin-right: 27px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-right: 15px;
  }
}

.header__item {
  list-style-type: none;
  width: 225px;
  margin-left: 25px;

  @include vp-1023 {
    width: auto;
    margin-left: 30px;
  }
}

.header__email,
.header__phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
    outline: none;
  }

  @include vp-1023 {
    padding: 5px;

    &:hover,
    &:focus {
      background-color: $color-cerulean;
      border-radius: 3px;
    }
  }
}

.header__email svg,
.header__phone svg {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.header__email p,
.header__phone p {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  flex-shrink: 0;
  margin-top: 5px;
  margin-right: 60px;

  @include vp-1023 {
    display: none;
  }
}
